[Desktop Entry]
Version=0.2
Type=Application
Name=SmoothIR
Comment=Generate Impulse Response File
Exec=smoothir
Icon=smoothir
Categories=AudioVideo;Audio;Midi;
Terminal=false
X-NSM-Capable=false
X-NSM-Exec=smoothir
Name[de_DE]=smoothir
